///OBAVEZNI DEO

Zahtevi:
 Tehnologija po izboru -- PHP i mysql
 Objektno-orjentisano rešenje sa nasleđivanjem -- GOTOVO
 Rad sa relacionom bazom podataka min 2 tabele + korisnik GOTOVO



 Obavezni deo – login GOTOVO, unos GOTOVO, brisanje GOTOVO, izmena GOTOVO, tabelarni prikaz sa filterom GOTOVO, stampa


 Opcioni deo – parametarska štampa, primena ili izrada SOAP/REST veb servisa, odvojena tehnologija i
semantika u sloju za rad sa podacima
